.article-header {
  display: block;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  color: gray;
  z-index: 100;
  position: relative;
  background: hsla(0,0%,100%,.97);
  padding: 0 20px;
  .article-logo {
    float: left;
    line-height: 60px;
    padding: 0 15px;
    a {
      font-size: 22px;
      color: $default-color;
    }
  }
}

.blockTitle {
  position: relative;
  display: block;
  margin-bottom: 15px;
  line-height: 22px;
  .blockTitle-title {
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    display: inline;
    background-color: #f5f8fa;
    z-index: 10;
  }
  .blockTitle-line {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    color: #d9d9d9;
    background: currentColor;
  }
}

.homeColumn-list {
  padding: 0;
  li {
    text-align: center;
    background-color: #FFF;
    position: relative;
    list-style: none;
    margin: 5px;
    width: 24%;
    border: 1px solid #f0f0f0;
  }
}
.HomeColumn-avatar, .HomeColumn-avatar img {
  width: 48px;
  height: 48px;
}
.HomeColumn-avatar {
    margin: 26px auto 8px;
    box-sizing: border-box;
    border-radius: 50%;
    overflow: hidden;
}
.Avatar-hemingway {
    border-radius: 50%;
}
.HomeColumn-title {
    margin: 16px 16px 7px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.HomeColumn-title a {
    color: $default-textcolor;
}
.HomeColumn-description {
    line-height: 21px;
    height: 42px;
    margin-bottom: 15px;
    word-break: break-all;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 13px;
}
.HomeColumn-description a {
    color: gray;
}
.HomeColumn-meta {
    margin-bottom: 15px;
    font-size: 12px;
}
.HomeColumn-btn {
    margin-bottom: 23px;
    padding: 0;
    min-height: 0;
    min-width: 0;
    line-height: 30px;
    box-sizing: border-box;
    width: 90px;
    height: 32px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid $default-color;
    color: $default-color;
    &:hover {
      color: $default-color;
    }
}

//
.HomeTop {
  position: relative;
  height: 300px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 100px;
}

.HomeTop-btn {
    position: absolute;
    top: 180px;
    left: 50%;
    width: 120px;
    height: 38px;
    margin-left: -51px;
    line-height: 36px;
    min-height: 0;
    min-width: 0;
    box-sizing: border-box;
    border-color: $default-textcolor;
    color: $default-textcolor;
    &:hover {
      color: $default-textcolor;
    }
}

//
.article-main {
  width: 720px;
  margin: 47px auto 0;
  padding: 50px 25px;
  z-index: 1;
  background: #FFF;
}
.WriteCover-wrapper {
    background: #FFF;
    line-height: 192px;
    color: gray;
    min-height: 192px;
    text-align: center;
}
.WriteIndex-titleInput {
    margin: 16px 0;
    padding: 0;
    height: auto;
    width: 100%;
    position: relative;
}
.WriteIndex-titleInput input {
  min-height: 50px;
  height: 50px;
  display: block;
  padding: 0 5px;
  width: 100%;
  border: 0;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  font-synthesis: style;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #f0f0f0;
}
.well {
  text-align: center;
  margin-top: 25px;
}

.article-type .type-list {
  margin: 15px 0;
}
.article-type .type-list input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.article-type .type-list .type-item span {
  display: inline-block;
  border: 1px solid #c9d8db;
  color: #c9d8db;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  margin: 0 10px 10px 0;
  padding: 0 10px;
  border-radius: 4px;
}
.article-type .type-list input:checked + span {
  border: 1px solid $default-color;
  color: $default-color;
}

//
.note .post {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
}
.note .post .article .title {
    // word-break: break-word!important;
    word-break: break-all;
    margin: 20px 0 0;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    color: $default-textcolor;
}
.note .post .article .author {
    margin: 30px 0 40px;
}
.note .post .article .author .avatar {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    display: inline-block;
}
.note .post .article .author .info {
    vertical-align: middle;
    display: inline-block;
    margin-left: 8px;
}
.note .post .article .author .name {
    margin-right: 3px;
    font-size: 16px;
    vertical-align: middle;
}
.note .post .article .author .name a {
  color: $default-color;
  text-decoration: none;
}
.note .post .article .follow, .note .post .article .follow-cancel, .note .post .article .follow-each, .note .post .article .following, .note .post .article .user-follow-button-header {
    padding: 0 7px 0 5px;
    font-size: 12px;
}
.note .post .article .author .meta {
    margin-top: 5px;
    font-size: 12px;
    color: #969696;
}
.note .post .article .author .meta span {
    padding-right: 5px;
}
.note .post .article .show-content {
    color: #2f2f2f;
    word-break: break-word!important;
    word-break: break-all;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}
.note .post .article .show-content img {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  display: block;
}

.note .post .article .author .edit {
    float: right;
    margin-top: 8px;
    padding: 0 12px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    color: #9b9b9b;
    line-height: 30px;
    border-radius: 50px;
}

//

.note .post .follow-detail {
    padding: 20px;
    background-color: hsla(0,0%,71%,.1);
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 12px;
}
.note .post .follow-detail .info {
    min-height: 47px;
}
.note .post .follow-detail .avatar {
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}
.note .post .follow-detail .info .title {
    margin-right: 3px;
    font-size: 17px;
    line-height: 1.8;
    vertical-align: middle;
    font-weight: 700;
    color: $default-color;
}
.note .post .follow-detail .info p {
    margin-bottom: 0;
    color: #969696;
}
.note .post .follow-detail .signature {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
    color: #969696;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.note .post .follow-detail .avatar {
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}
.note .post .follow-detail .btn, .note .post .follow-detail .user-follow-button-footer {
    float: right;
    margin-top: 4px;
    padding: 8px 0;
    width: 100px;
    font-size: 16px;
}

//
.note .post .meta-bottom {
    margin-top: 40px;
    margin-bottom: 80px;
}
.like {
    display: inline-block;
    margin-right: 10px;
}
.like .like-group {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    position: relative;
    padding: 13px 0 15px 0;
    font-size: 0;
    border: 1px solid $default-color;
    border-radius: 40px;
    color: $default-color;
}
.like .like-group .btn-like {
    display: inline-block;
    font-size: 19px;
}
.like .like-group .btn-like a {
    position: relative;
    padding: 18px 30px 18px 20px;
    color: $default-color;
}
.like .like-group .modal-wrap {
    font-size: 18px;
    border-left: 1px solid $default-color;
    display: inline-block;
    margin-left: -15px;
}
.like .like-group .modal-wrap a {
    color: $default-color;
    padding: 18px 26px 18px 18px;
}

//
.simditor-body img {
  max-width: 100% !important;
}

//
.sidebar-block {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    border-radius: 2px;
    margin-bottom: 1.3rem;
    font-size: 1.16rem;
    line-height: 1.29;
    color: #333;
}
.sidebar-block.user-block .user-block-header {
    padding: 1rem 1.3rem;
    border-bottom: 1px solid hsla(0,0%,59%,.1);
}
.sidebar-block.user-block ul {
  padding: 0;
}
.sidebar-block li {
    list-style: none;
}
.sidebar-block.user-block .item .link {
    padding: 1rem 1.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-block.user-block .item .link .avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: .8rem;
    display: inline-block;
    position: relative;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eee;
}
.sidebar-block.user-block .item .link .user-info {
    overflow: hidden;
}
.sidebar-block.user-block .item .link .user-info {
    overflow: hidden;
}
.sidebar-block.user-block .item .link .position {
    color: #909090;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar-block.user-block .item .link .username {
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar-block.user-block .item .link .position {
    color: #909090;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-block .item {
    display: block;
    padding: .8rem 1.3rem;
    text-decoration: none;
    color: $default-textcolor;
}
.user-block .item .entry-title {
  margin-bottom: 5px;
}
.entry-meta {
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 1.1rem;
    color: #c2c2c2;
}
.entry-meta .count {
    margin-left: .4rem;
}
