.new-collection .main {
    margin-bottom: 60px;
    padding-top: 50px;
}
form.new_app_feedback {
    margin: 0 0 20px;
}
.new-collection .main h3 {
    margin: 10px 0 20px;
    font-size: 21px;
    font-weight: 700;
    color: #333;
}
.new-collection .main h6 {
    margin: 0;
    padding: 10px 0 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #333;
    clear: both;
}
.new-collection .main a {
    color: $default-color;
}
.new-collection .main table {
    width: 100%;
}
.new-collection .main .setting-head {
    width: 150px;
}
.new-collection .main .setting-input {
    line-height: 33px;
}
.new-collection .main .setting-title {
    font-size: 15px;
    color: #969696;
}
.new-collection .main td {
    padding: 16px 0;
}
.new-collection .main td {
    padding: 16px 0;
    font-size: 15px;
}
.new-collection .main textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
    display: block;
    resize: none;
    outline-style: none;
}
.new-collection .main input {
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
}
.new-collection .main input#app_feedback_contact {
  width: 100%;
}
.new-collection .main p {
    margin: 0;
    padding: 10px 0 0;
    font-size: 12px;
    color: #969696;
    clear: both;
}
.new-collection .main input.btn-success {
    padding: 8px 22px;
    background: $default-color;
    border: none;
    font-size: 14px;
    border-radius: 4px;
}
.new-collection .main {
    margin-bottom: 60px;
}
