.tag-info-box .tag-info {
    text-align: center;
    color: #666;
    padding: 4rem 0;
    box-sizing: border-box;
}
.tag-info-box .tag-info .title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: .3rem;
}
.tag-info-box {
    position: relative;
    height: 150px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #f1f1f1;
}
.list-container {
  margin-top: 15px;
}
